.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name masaya
      %ul.user-menu
        %li.user-menu__edit-user
          %i.fa.fa-edit
        %li.user-menu__new-group
          %i.fa.fa-cog
    .groups
      %p.side-header__user-group 豊橋
      %p.side-header__user-coments ○◯○◯
  .chat-main  
    .main-header
      .current-group 
        %h2.current-group_name 豊橋
        %ul.member-list
          %li.member-list2 Member:
          %li.member-list__member masaya
      .main-header__edit-btn edit
    .messages
      .message
        .upper-info
          %p.upper-info__user masaya
          %p.upper-info__date 2019/05/04(sun) 15:24:33
        %p.message__text oooo
    .form
      .new-message
        .input-box
          %input.input-box__text{:type => "text", :placeholder => "type a message"}
          .image-label
            %i.fa.fa-image
            %input.image-label__input
        %input.new-message__submit-btn{:type => "submit", :value => "Send"}
          